<div class="container-fluid top">
  <div class="col-md-6 login-container">
    <h2 style="margin: auto">Login Page</h2>
    <br/>
    <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
      <div class="form-group">
        <label for="login">Login:</label>
        <input type="text" class="form-control" formControlName="login" id="login" autocomplete="off">
        <div class="error" *ngIf="!loginForm.get('login').valid && loginForm.get('login').touched">Login is required
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off">
        <div class="error" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Password is
          required
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Login</button>
    </form>
    <br/>
    <button type="button" mat-flat-button color="primary" class="btn btn-primary" (click)="register()">Register
    </button>
  </div>
</div>
