.create{
  width: 1000px;
  position: absolute;
  top: 270px;
  left: 220px;
}
.delete{
  width: 1000px;
  position: absolute;
  top: 310px;
  left: 220px;
}

h5, p,small,a,label {
  color: red;
}
.lexa {
  background: black;
}
