<div class="card-columns top">
  <div class="card lexa" *ngFor="let pizza of pizzas" style="width: 500px;">
    <h2 style="margin: auto">Pizza</h2>
    <form (ngSubmit)="addToShoppingCart(pizza.id)" #addToCartForm="ngForm">
      <div class="card border-primary mb-3 lexa" style="max-width: 500px;">
        <img src="{{pizza.img_source}}" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{ pizza.name }}</h5>
          <p class="card-text">{{ pizza.description }}</p>
          <p class="card-text">Mass:{{ pizza.mass }} gram</p>
          <p class="card-text">Cost:{{ pizza.cost }}$</p>
          <button type="submit" class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </form>
  </div>
</div>

