<div class="card-columns top">
  <div class="card lexa" *ngFor="let drink of drinks" style="width: 500px;">
    <form (ngSubmit)="addToShoppingCart(drink.id)" #addToCartForm="ngForm">
      <div class="card border-primary mb-3 lexa" style="max-width: 500px;">
        <img src="{{drink.img_source}}" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{ drink.name }}</h5>
          <p class="card-text">{{ drink.description }}</p>
          <p class="card-text">Mass:{{ drink.mass }} gram</p>
          <p class="card-text">Cost:{{ drink.cost }}$</p>
          <button type="submit" class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </form>
  </div>
</div>
