<div class="card-columns top">
  <div class="card lexa" *ngFor="let shoppingCartDish of shoppingCartDishes" style="width: 500px;">
    <h2 style="margin: auto">Order details</h2>
    <div class="card border-primary mb-3 lexa" style="max-width: 500px;">
      <img name="img_source" src="{{shoppingCartDish.img_source}}" class="card-img-top" alt="">
      <div class="card-body">
        <a><h5 name="name" class="card-title">{{ shoppingCartDish.name }}</h5></a>
        <div><label name="description" class="card-text">{{ shoppingCartDish.description }}</label></div>
        <br/>
        <div><label name="category" class="card-text">{{ shoppingCartDish.category }}</label></div>
        <p> Cost:<label name="cost" class="card-text">{{ shoppingCartDish.cost }}</label>$</p>
        <label name="dishId" hidden="hidden" class="card-text">{{ shoppingCartDish.dish_id }}</label>
        <label name="menuId" hidden="hidden" class="card-text">{{ shoppingCartDish.menu_id }}</label>
      </div>
      <div class="card-footer">
        <p> Mass:<small name="mass" class="text-muted">{{ shoppingCartDish.mass }}</small></p>
      </div>
    </div>

  </div>
</div>
